.uno{
	width: 22%;
	margin:10px;
	border: 16px solid #FDF732;
	padding: 30px;
	text-align: center;
}
.dos{
	width: 22%;
	margin:10px;
	border: 16px solid #FDF732;
	padding: 30px;
	text-align: left;
	margin-left: 500px;




/* Escribe aqui tu CSS */